<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Hoşgeldin {{username}} </h1>
      <p>Burası kişisel sayfan </p>
      <button> <a href="/users"> Üye Getir</a> </button>
  </body>
</html>
