<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

        Hoşgeldin  {{username}}

        <button> <a href="/logout">Logout </a></button>
  </body>
</html>
