<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SIGNUP PAGE</title>
  </head>
  <body>
    <h1>SIGNUP PAGE </h1>
    <form action="http://localhost:3000/signup" method="POST">
      <div>
        Username:

        <input  type="text" name="username" >
      </div>
      <div>
      Password :
      <input type="password" name="password" >
      </div>
      <input type="submit" >
    </form>


  </body>
</html>
